<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870914273925-vosbjgnvuqa23l8o24f6p70h9so3l9nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870914273925-vosbjgnvuqa23l8o24f6p70h9so3l9nh</string>
	<key>API_KEY</key>
	<string>AIzaSyAfGMR18lMBKeMw_DZZkkr59tJqbtXqOJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>870914273925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDontaionApp</string>
	<key>PROJECT_ID</key>
	<string>haritha-club-blood-directory</string>
	<key>STORAGE_BUCKET</key>
	<string>haritha-club-blood-directory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870914273925:ios:0d6c2e893b76aa9f5c6fec</string>
</dict>
</plist>